In [1]:
%reload_ext autoreload

In [2]:
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
housing_df = pd.read_csv("./data/kc_house_data_original.csv")

In [6]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [7]:
housing_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
print(int(True), int(False))

1 0

In [9]:
housing_df['price_gt_1M'] = housing_df['price'].map(lambda x: int(x >= 1000000))

In [10]:
housing_df = housing_df.iloc[:, 2:]
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
 18  sqft_lot15     21613 non-null  int64
 19  price_gt_1M    21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

In [11]:
newcols_class = [_ for _ in range(1, 20)]
newcols_class

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
newcols_regression = [_ for _ in range(1, 18)]
newcols_regression.extend([0])
newcols_regression

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 0]

In [13]:
housing_class_df = housing_df.iloc[:, newcols_class]
housing_class_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  int64
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  int64
 3   sqft_lot       21613 non-null  int64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  int64
 6   view           21613 non-null  int64
 7   condition      21613 non-null  int64
 8   grade          21613 non-null  int64
 9   sqft_above     21613 non-null  int64
 10  sqft_basement  21613 non-null  int64
 11  yr_built       21613 non-null  int64
 12  yr_renovated   21613 non-null  int64
 13  zipcode        21613 non-null  int64
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  sqft_lot15     21613 non-null  int64
 18  price_gt_1M    21613 non-null  int64
dtypes: float64(4), int64(15)
memory usage: 3.1 MB

In [14]:
housing_regression_df = housing_df.iloc[:, newcols_regression]
housing_regression_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  int64
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  int64
 3   sqft_lot       21613 non-null  int64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  int64
 6   view           21613 non-null  int64
 7   condition      21613 non-null  int64
 8   grade          21613 non-null  int64
 9   sqft_above     21613 non-null  int64
 10  sqft_basement  21613 non-null  int64
 11  yr_built       21613 non-null  int64
 12  yr_renovated   21613 non-null  int64
 13  zipcode        21613 non-null  int64
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  price          21613 non-null  float64
dtypes: float64(5), int64(13)
memory usage: 3.0 MB

In [15]:
housing_class_df.to_csv("./data/kc_house_data_classification.csv", index=False)

In [16]:
housing_regression_df.to_csv("./data/kc_house_data_regression.csv", index=False)

In [17]:
# from pandas_profiling import ProfileReport

In [18]:
# profile = ProfileReport(housing_df, title="Pandas Profiling Report for Housing")

In [19]:
# profile.to_file("output/pandas_profiling_report.html")

In [20]:
from sklearn.dummy import DummyClassifier

In [21]:
X = housing_df.iloc[:, 0:18]
y = housing_df.iloc[:, 18]

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
dtypes: float64(5), int64(13)
memory usage: 3.0 MB

In [23]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 21613 entries, 0 to 21612
Series name: sqft_lot15
Non-Null Count  Dtype
--------------  -----
21613 non-null  int64
dtypes: int64(1)
memory usage: 169.0 KB

In [24]:
categorical_cols = X.select_dtypes(include=['object']).columns.tolist()
numeric_cols = X.select_dtypes(include=['number']).columns.tolist()

all_cols = X.columns.tolist()

In [25]:
numeric_cols = ['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15']

In [26]:
categorical_cols = [ 'waterfront',
 'view',
 'condition',
 'grade',]

In [27]:
assert len(all_cols) == len(categorical_cols) + len(numeric_cols), 'each col should be in either lists'

In [28]:
categorical_cols_index = [X.columns.get_loc(c) for c in categorical_cols]
categorical_cols_index

[6, 7, 8, 9]

In [29]:
numeric_cols_index = [X.columns.get_loc(c) for c in numeric_cols]
numeric_cols_index

[0, 1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 16, 17]

In [30]:
X.iloc[:, categorical_cols_index].nunique()

waterfront     2
view           5
condition      5
grade         12
dtype: int64

In [31]:
X.iloc[:, numeric_cols_index].nunique()

price            4028
bedrooms           13
bathrooms          30
sqft_living      1038
sqft_lot         9782
floors              6
sqft_above        946
sqft_basement     306
yr_built          116
yr_renovated       70
zipcode            70
lat              5034
long              752
sqft_living15     777
dtype: int64

In [32]:
# Begin Task Models (Task 4 et al.)
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split

In [33]:
# Create a StandardScalar object to use on our numeric variables
# Create transformer objects
numeric_transformer = StandardScaler()

In [34]:
# Create transformer objects
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [35]:
numeric_cols = ['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15']

In [36]:
categorical_cols = [ 'waterfront',
 'view',
 'condition',
 'grade',]

In [37]:
 transformers=[
        ('num', numeric_transformer, numeric_cols),
        ('cat', categorical_transformer, categorical_cols)]

In [38]:
# Bundle transformers together and combine into preprocessor step
preprocessor = ColumnTransformer(transformers)

In [39]:
# Create Classifier model
clf_model = LogisticRegression(penalty='l2', C=1, solver='saga', max_iter=500)

In [40]:
# Append classifer to preprocessing pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifer', clf_model)])

In [41]:
# Make a diagram
from sklearn import set_config

set_config(display='diagram')
clf

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['price', 'bedrooms',
                                                   'bathrooms', 'sqft_living',
                                                   'sqft_lot', 'floors',
                                                   'sqft_above',
                                                   'sqft_basement', 'yr_built',
                                                   'yr_renovated', 'zipcode',
                                                   'lat', 'long',
                                                   'sqft_living15']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['waterfront', 'view',
                                                   'condition', 'grade'])])),
                ('classifer',
                 LogisticRegression(C=1, max_iter=500, solver='saga'))])

In [ ]:
# Classifier model
clf_model = LogisticRegression(penalty='l2', C=1, solver='saga', max_iter=500)

# Append classifer to preprocessing pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                          ('classifier', clf_model)])
# Fit model on new training data
clf.fit(X, y)

print("Training score: %.3f" % clf.score(X, y))
print("Test score: %.3f" % clf.score(X_test, y_test))

In [ ]:
# What if C is less than 1

# Classifier model
clf_model_C01 = LogisticRegression(penalty='l2', C=0.01, solver='saga', max_iter=2000)

# Append classifer to preprocessing pipeline
clf_C01 = Pipeline(steps=[('preprocessor', preprocessor),
                          ('classifier', clf_model_C01)])

# Fit model on training data
clf_C01.fit(X, y)

print("Training score: %.3f" % clf_C01.score(X, y))
print("Test score: %.3f" % clf_C01.score(X_test, y_test))

In [ ]:
# Coefficients
clf.named_steps['classifer'].coef_.shape
clf_C01.named_steps['classifer'].coef_.shape

In [ ]:
coef_plot(clf, 'L2, C=1.0')

In [ ]:
coef_plot(clf_C01, 'L1, C='0.01')